// font
$consoleFont: "Gill Bold I";
$consoleBtnFont: "Gill Bold";
$titleSolid: "PokemonSolid";
$titleHollow: "PokemonHollow";
$BrandFont: "Brand";

// colors
$purpleBlue: #4A3F89; 
$redButtons: #993058;
$console: #DAD5D2;